.stars {
    display: inline-flex;
    justify-content: flex-end;
    gap: 5px;
    transform: rotateY(180deg);
    // height: 20px;
    align-items: center;

    i {
      display: flex;
      font-size: 20px;
      color: #f0f0f0;
      cursor: pointer;

      &:hover {
        color: #f8b756;

        & ~ i {
          color: #f8b756;
        }
      }

      &.active {
        color: #f8b756;
      }
    }

  }
